
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 19%;
}
.container {
  max-width: 1000px;
  margin: 0 auto;

}

.mat-raised-button.mat-primary {
  background: #AECAFF;
  color: #3C3B3B;
}
.mat-icon-button:focus {
  outline: none;
}
::ng-deep mat-dialog-container {
  background-color: #d5e0f6 !important;
}
div.container4 {
  height: 250px;
  position: relative }
div.container4 p {
  margin: 0;
  font-size: 30px;
  position: absolute;
  top: 100%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%) }
